.Milestone-name {
  margin-left: 10px;
  font-weight: bold;
}

.Milestone-range {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.Milestone-range:focus {
  outline: none;
}
.Milestone-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
.Milestone-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 18px;
  border-radius: 0px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
.Milestone-range::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #ECEEEF;
  border-radius: 0px;
  border: 0px solid #000000;
}
.Milestone-range::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 18px;
  border-radius: 0px;
  background: #FFFFFF;
  cursor: pointer;
}
.Milestone-range::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.Milestone-range::-ms-fill-lower {
  background: #ECEEEF;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000;
}
.Milestone-range::-ms-fill-upper {
  background: #ECEEEF;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000;
}
.Milestone-range::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 18px;
  border-radius: 0px;
  background: #FFFFFF;
  cursor: pointer;
}
