.NewPathForm-form {
  border: solid #f7f7f9;
  padding: 34px;
  max-width: 800px;
  margin: 0 auto;
}

.NewPathForm-milestones {
  background-color: #f7f7f7;
  padding: 16px 20px;
}

.NewPathForm-milestone-close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewPathForm-id {
  display: flex;
  align-items: center;
}

.NewPathForm-id-input {
  padding-left: 2px;
}

.NewPathForm-id-pathname {
  display: none;
}

@media (min-width: 768px) {
  .NewPathForm-id-pathname {
    display: block;
  }
}
